html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100vh;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
background {
  z-index: 0;
}
foreground {
  z-index: 1;
}
